.tooltip {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  background-color: #fdf1d7;
  padding: 5px;
  border-radius: 4px;
  opacity: 90%;
  min-width: 330px;
  min-height: 200px;
  z-index: 100;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.tooltip h5 {
  margin: 10px 0px 0px 0px;
}

.tooltip p {
  margin: 5px 0px;
  font-size: smaller;
  color: gray;
}

.tooltip-image {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  object-fit: contain;
}

.features-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 10px;
}
